:root {
    --cell-size: 100px;
}

body {
    font-family: sans-serif;
    background: #f0f0f0;
    margin: 0;
    padding: 0;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.layout {
    display: flex;
    gap: 20px;
}

.cityGrid{
    display: grid;
    grid-template-columns: repeat(4, var(--cell-size));
    grid-template-rows: repeat(3, var(--cell-size));
    gap: 15px;
}

.empty,
.fill {
    width: var(--cell-size);
    height: var(--cell-size);
    display: flex;
    justify-content: center;
    border-radius: 8px;
    box-sizing: border-box;
}

.empty {
    background-color: rgb(107, 114, 128);
}

.fill {
    color: white;
    font-size: 1.5rem;
    cursor: grab;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.fill:hover {
    background-color: rgba(31, 41, 55, 0.1);
    transform: scale(1.05);
}

.fill:active {
    transform: scale(0.95);
}

.hold {
    border: solid #ccc 4px;
}

.hovered {
    background-color: #a4a4a4 !important;
    border-style: dashed;
}

.invisible {
    display: none;
}

.deadzone {
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: #58151c;
    border: 2px dashed red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.deadzone.hovered {
    background-color: red;
    transform: scale(1.05);
}

@media (max-width: 900px) {
    .layout {
        flex-direction: column;
        align-items: center;
    }

    .functionGrid {
        grid-template-columns: repeat(3, var(--cell-size));
    }
}

